<div class="wrapper">
    <div class="header">
        <a href="/">
            <img src="assets/images/logo-quena.png">
        </a>
    </div>
</div>

<div class="wrapper">
    <div class="content">
        
        <div class="box-confirmación">

            <img src="assets/images/icon-ok.svg">

            <h3>Listo</h3>
            <p>Nos contactaremos contigo por WhatsApp para coordinar la entrega de tu pedido.</p>

            <a href="" class="btn outline" gaEvent="VolverInicio" gaCategory="Thankyou">Volver al inicio</a>
        </div>


    </div>
</div>